<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>

        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>

        <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/css/playingCards.ui.css"/>
        <link rel="stylesheet" href="../static/css/main.css"/>

        <script src="../static/js/sockjs.js"></script>
        <script src="../static/js/stomp.js"></script>

        <script src="../static/js/jquery-2.1.1.min.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>

        <script src="../static/js/playingCards.js"></script>
        <script src="../static/js/playingCards.ui.js"></script>-->


        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/playingCards.ui.css"/>
        <link rel="stylesheet" href="css/main.css"/>

        <script src="js/sockjs.js"></script>
        <script src="js/stomp.js"></script>

        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <script src="js/playingCards.js"></script>
        <script src="js/playingCards.ui.js"></script>

        <title>Poker</title>
    </head>
    <body>
        <!-- Header -->
        <div class="jumbotron centre-jumbotron">
            <h1>Web Poker</h1>
            <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-warning" type="submit" value="Sign Out"/>
            </form>
        </div>

        <!-- Top section -->
        <div class="panel-group container" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#gameOptions" href="#gameOptions">
                            Game Options
                        </a>
                    </h4>
                </div>
                <div id="gameOptions" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <h5>New Game</h5>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="gameName" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-sm" id="gameName"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="amount" class="col-sm-2 control-label">Credits</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control input-sm" id="amount" value="1000"/>
                                    </div>
                                </div>
                            </form>
                            <button class="btn btn-success pull-right" type="button" onclick="createGame()">Create Game <span class="glyphicon glyphicon-plus"/></button>
                        </div>
                        <div class="col-sm-6">
                            <h5>Connect to Game</h5>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="gameList" class="col-sm-2 control-label">Games</label>
                                    <div class="col-sm-10">
                                        <select type="text" class="form-control input-sm" id="gameList"></select>
                                    </div>
                                </div>
                            </form>
                            <p style="text-align:right;">
                                <button class="btn btn-default" type="button" onclick="listGames()">Refresh Games  <span class="glyphicon glyphicon-refresh"/></button>
                            </p>

                            <p style="text-align:right;">
                                <button class="btn btn-info" type="button" onclick="joinGame()">Join Game <span class="glyphicon glyphicon-arrow-right"/></button>
                            </p>
                        </div>

                        <input type="text" id="newGameNotification" class="reset form-control" disabled="disabled"/>

                    </div>
                </div>
            </div>
        </div>

        <br/>

        <!-- Middle section-->
        <div class="container">
            <div class="col-sm-4 no-left-padding">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Round Details</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="currentPlayer" class="col-sm-6 control-label">Current Player</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="currentPlayer" disabled="disabled" style="font-weight:bolder;"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="currentBet" class="col-sm-6 control-label">Current Bet</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="currentBet" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pot" class="col-sm-6 control-label">Pot</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="pot" disabled="disabled"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="bettingRound" class="col-sm-6 control-label">Round #</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="round" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="bettingRound" class="col-sm-6 control-label">Stage #</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="bettingRound" disabled="disabled"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 no-right-padding">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cards</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-8">
                            <h5>Game Cards</h5>
                            <div id="cards" class="reset panel panel-default card-area"></div>
                        </div>
                        <div class="col-sm-4">
                            <h5>Player Cards</h5>
                            <div id="playerCards" class="reset panel panel-default card-area"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Bottom section-->
        <div class="container">
            <div class="col-sm-4 no-left-padding">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Player Details</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="amountBet" class="col-sm-6 control-label">Amount Bet</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="amountBet" disabled="disabled"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="funds" class="col-sm-6 control-label">Total Funds</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="funds" disabled="disabled"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 no-right-padding">
                <input type="text" id="notification" class="reset form-control" style="font-weight:bold" disabled="disabled"/>

                <br/>
                <br/>

                <div id="bettingControls">
                    <div class="col-sm-6">
                        <form class="form-horizontal" role="form">
                            <div class="form-group form-group-lg">
                                <label for="betAmount" class="col-sm-6 control-label">Amount to Bet</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="betAmount"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 no-right-padding">
                        <button class="btn btn-success btn-lg" type="button" value="Bet" onclick="updateRound('bet')">Bet/Raise <span class="glyphicon glyphicon-arrow-up"/></button>
                        <button class="btn btn-primary btn-lg" id="callButton" type="button" value="Call" onclick="updateRound('call')">Call</button>

                        <!--Fold button-->
                        <button class="btn btn-danger btn-lg pull-right" id="foldButton" type="button" value="Fold" onclick="updateRound('fold')">Fold <span class="glyphicon glyphicon-remove"/></button>

                    </div>
                </div>

                <!-- New Round button -->
                <button class="btn btn-success btn-lg pull-right" id="newRoundButton" style="display:none;" type="button" value="Next Round" onclick="createRound()">Create new round</button>


            </div>
        </div>

        <br/>
        <br/>

    </body>
</html>