<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8"/>

        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta name="_csrf" th:content="${_csrf.token}"/>

        <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>

        <script src="../static/js/sockjs.js"></script>
        <script src="../static/js/stomp.js"></script>

        <script src="../static/js/jquery-2.1.1.min.js"></script>
        <script src="../static/js/main.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>-->


        <link rel="stylesheet" href="css/bootstrap.min.css"/>

        <script src="js/sockjs.js"></script>
        <script src="js/stomp.js"></script>

        <script src="js/jquery-2.1.1.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/bootstrap.min.js"></script>

        <title>Poker</title>
    </head>
    <body>
        <!-- TODO: Put in custom CSS -->
        <div class="jumbotron" style="text-align:center;margin-bottom:0">
            <h1>Welcome to Poker!</h1>
            <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h3>
            <form th:action="@{/logout}" method="post">
                <input class="btn btn-warning" type="submit" value="Sign Out"/>
            </form>
        </div>

        <div class="container">
            <h4>New Game</h4>
            <div class="form-group">
                <label for="gameName">Game name</label>
                <input id="gameName" type="text" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="amount">Starting amount</label>
                <input id="amount" type="text" class="form-control" value="1000"/>
            </div>
            <button class="btn btn-success" type="button" onclick="createGame()">Create Game</button>
        </div>

        <div class="container">
            <h4>Connect to Game</h4>
            <div class="form-group">
                <label for="gameId">Game ID</label>
                <input type="text" class="form-control" id="gameId"/>
            </div>
            <button class="btn btn-info" type="button" onclick="joinGame()">Join</button>
        </div>

        <div class="container">
            <h4>Game Cards</h4>
            <textarea id="cards" class="reset form-control" rows="10" disabled="disabled"></textarea>

            <h4>Player Cards</h4>
            <textarea id="playerCards" class="reset form-control" rows="12" disabled="disabled"></textarea>
        </div>

        <div class="container">
            <h4>Round Details</h4>
            <div class="form-group">
                <label for="currentPlayer">Current Player</label>
                <input type="text" class="form-control reset" id="currentPlayer" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="bettingRound">Betting Round</label>
                <input type="text" class="form-control reset" id="bettingRound" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="currentBet">Current Bet</label>
                <input type="text" class="form-control reset" id="currentBet" disabled="disabled"/>
            </div>
            <div class="form-group">
                <label for="pot">Pot</label>
                <input type="text" class="form-control reset" id="pot" disabled="disabled"/>
            </div>
        </div>

        <div class="container">
            <h4>Winners:</h4>
            <textarea id="winners" class="reset form-control" rows="10" style="font-weight:bold" disabled="disabled"></textarea>

            <h4>Notification:</h4>
            <p id="response"></p>
            <br/>
            <button class="btn btn-success" type="button" value="Next Round" onclick="createRound()">Create new round</button>
        </div>

        <div class="container">
            <h4>Betting</h4>
            <div class="form-group">
                <label for="betAmount">Amount to Bet:</label>
                <input type="text" class="form-control reset" id="betAmount"/>
            </div>
            <button class="btn btn-primary btn-lg" type="button" value="Call" onclick="updateRound('call')">Call</button>
            <button class="btn btn-danger btn-lg" type="button" value="Fold" onclick="updateRound('fold')">Fold</button>
            <button class="btn btn-success btn-lg" type="button" value="Bet" onclick="updateRound('bet')">Bet</button>
            <br/>
            <br/>
        </div>

    </body>
</html>